@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.all__map {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  background-color: #fffef8;
  position: relative;
}
.left__panel {
  width: 100%;
  height: 100%;
  background-color: #fffef8;
  border-right: 1px solid #eac870;
  z-index: 2;
  transition: transform 0.8s;
}
.main__map {
  width: 100%;
  height: 100%;
  background-color: #fffef8;
}
#icon__close {
  background-color: #eac870;
  margin: auto;
  border-radius: 40px;
  width: 50px;
  margin-top: 10%;
  height: 50px;
  cursor: pointer;
}
#icon__close p {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.hamburger-react {
  margin: auto;
  transform: scale(0.7);
}
.hamburger-react > div:nth-child(2) {
  width: 24px !important;
}
#list_p {
  height: 50%;
  text-align: left;
  position: relative;
  opacity: 1;
  padding-top: 10%;
  padding-left: 10%;
  margin-bottom: 20%;
}
#list_p p {
  color: #bdbdbd;
  font-weight: bold;
  text-decoration: none;
  font-family: "Noto Serif", serif;
  padding: 15px 0;
  cursor: pointer;
}
#list_p svg {
  margin-right: 10px;
}
#logo {
  height: calc(100% - 60% - 15% - 50px);
  width: 100%;
  margin: auto;
  position: relative;
}
#logo img {
  width: 60%;
  box-sizing: border-box;
  margin: 0% 20%;
  bottom: 0;
  position: absolute;
}
#line_image {
  width: 40px;
  background-color: #eac870;
  height: 2px;
  margin: 10px 0 0 25%;
}
#logo__digiuni img {
  width: 50%;
  box-sizing: border-box;
  margin: 25px 0 0 10%;
  bottom: 0;
}
#map {
  width: 100%;
  height: 100%;
}

#show__name {
  width: 85%;
  position: absolute;
  margin-left: 15%;
  height: 100%;
  transition: 0.6s ease;
  z-index: 1;
  padding: 0% 3%;
  background-color: #fffef8;
}
.class__tabname {
  height: calc(100% -60px);
}
#nav__name {
  height: 20%;
}
#nav-tab {
  border-bottom: none !important;
  height: 17%;
  display: flex;
  width: 100%;
}
#nav-tabContent {
  height: calc(100% - 40px - 25%);
  overflow: auto;
}
#nav-tab button {
  height: 100%;
  padding: 20px 0;
  font-size: 20px;
  color: #bdbdbd;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  text-align: bottom;
  width: 100%;
}
#nav-tab-name {
  margin-bottom: 0px !important;
}

#nav-tab-name .nav-link:hover {
  border-color: #fffef800 !important;
  color: black;
}
#nav-tab-name .nav-link.active {
  background: none !important;
  border: rgba(0, 0, 0, 0) !important;
  border-bottom: 3px solid #eac870 !important;
  box-sizing: border-box;
  color: black;
  z-index: 2;
}
.table > :not(caption) > * > * {
  background-color: #fffef8 !important;
}

.table {
  border-color: #bdbdbd00 !important;
}

#ul__union {
  list-style-type: none;
  padding: 0px !important;
}
#ul__union li {
  display: flex;
  padding-bottom: 5px;
  cursor: pointer;
}

#ul__union li p {
  margin-left: 10px;
  line-height: 35px;
}
#ul__union li img {
  width: 40px;
  height: 50px;
}
#ul__union span {
  background-color: white;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  margin-left: 6px;
  position: absolute;
  text-align: center;
  margin-top: 6px;
  line-height: 28px;
}
.tab-pane {
  position: absolute;
}

#detail {
  width: 25%;
  background-color: #fffef8;
  margin-left: 15%;
  height: 100%;
  position: absolute;
  transition: 0.6s ease;
  max-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
#img_detail {
  width: 100%;
  height: 30%;
}
#img_detail img {
  width: 100%;
  height: 100%;
  padding: 0 20px 20px;
}
#close__detail {
  height: 40px;
  margin: 10px 10px 30px 0px;
  cursor: pointer;
  display: flex;
  justify-content: end;
}
#close__detail svg {
  color: #ffffff;
  height: 32px;
  margin: 10px;
  background-color: rgb(71, 71, 71);
  border-radius: 50%;
  width: 32px;
  padding: 8px;
}
#name__address {
  margin: 10px 20px 10px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  width: calc(100% -20px);
}
#button__save {
  margin: 0 20px;
  display: flex;
  margin-bottom: 20px;
}
#button__save > button {
  margin-right: 30px;
}
#button__save > button:nth-child(2) {
  border: 1px solid;
}
#all__information {
  margin: 0 20px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #bdbdbd00 !important;
  color: #eac870 !important;
}
.nav-item button {
  color: black;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.nav-item button:hover {
  color: black;
}
#line_if {
  width: 50px;
  height: 4px;
  background-color: #eac870;
  margin-top: -20px;
  margin-left: 35px;
}
#office {
  display: flex;
  padding: 10px 0;
}
#office img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}
#phone {
  display: flex;
  padding: 10px 0;
}
#phone img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}
#sms {
  display: flex;
  padding: 10px 0;
}
#sms img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}
#web {
  display: flex;
  padding: 10px 0;
}
#web img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}
#all_img {
  width: 100%;
}
#all_img img {
  width: 100px;
  height: 100x;
}

#search {
  width: 25%;
  background-color: #fffef8;
  margin-left: 15%;
  height: 100%;
  position: absolute;
  transition: 0.6s ease;
  max-height: 100vh;
  overflow: auto;
}
#input_search {
  margin: 20px 0;
  width: 100%;
}
#input_search input:focus {
  outline: none;
}
#input_search input {
  margin: auto 10%;
  width: 80%;
  height: 40px;
  border: none;
  position: absolute;
  transform: translateY(-110%);
}
#border_input_search {
  border: 2px solid #eac870;
  margin: auto 5%;
  width: 90%;
  height: 50px;
  box-shadow: 0px 0px 3px 1px #eac870;
  border-radius: 2px;
}
#history__search {
  padding: 0 5%;
}
#history__search > p {
  font-weight: bold;
  font-family: "Noto Serif", serif;
  color: #9e9c9c;
}
#list__address {
  padding: 0 5%;
}
#list__address > p {
  font-weight: bold;
  font-family: "Noto Serif", serif;
  color: #9e9c9c;
}
#navigation {
  width: 25%;
  background-color: #fffef8;
  margin-left: 15%;
  height: 100%;
  position: absolute;
  transition: 0.6s ease;
  max-height: 100vh;
  overflow: auto;
}
#navigation__child {
  margin: 0 5%;
  width: 90%;
}
#ul_navigation {
  padding: 0 0% 10%;
}
#ul_navigation li {
  width: 25%;
}
#ul_navigation button {
  background-color: #e0e0e0 !important;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  padding: 0px !important;
}
#ul_navigation .nav-link.active {
  background-color: #eac870 !important;
}
#ul_navigation button img {
  width: 30px;
  height: 30px;
}
#select__address {
  width: 85%;
  padding: 0% 0% 0% 5%;
  position: relative;
}
#select__address select {
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid #eac870;
}
#all__select {
  display: flex;
}
#dots {
  position: absolute;
  transform: translate(13px, -85px);
}
#dots p {
  background-color: black;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  margin-bottom: 5px !important;
}
.icon__select1 {
  display: flex;
}
.icon__select1 span {
  padding: 10px;
  width: 30px;
  height: 30px;
  margin: 8px 10px 0 0;
  border-radius: 30px;
  background-color: #f2f2f2;
}
.icon__select1 span svg {
  transform: translate(-3px, -7px);
  color: black;
}
.icon__select2 {
  display: flex;
}
.icon__select2 span {
  padding: 10px;
  width: 30px;
  height: 30px;
  margin: 8px 10px 0 0;
  border-radius: 30px;
  background-color: #fff4d8;
}
.icon__select2 span svg {
  transform: translate(-1px, -7px);
  color: #ebbd47;
}
#repeart img {
  width: 30px;
  height: 30px;
  float: right;
  transform: translate(40px, -90px);
  cursor: pointer;
}
#suggestions-list {
  padding: 0px !important;
}
#suggestions-list li {
  list-style-type: none;
  padding: 5px 0;
  cursor: pointer;
}
#suggestions-list li:hover {
  background-color: #bdbdbd;
}
#suggestions-list li img {
  margin-right: 20px;
  width: 35px;
}
#icon__search1 {
  transform: translate(-20px, -115px);
  float: right;
  cursor: pointer;
}
#icon__search2 {
  transform: translate(-5px, -50px);
  float: right;
  cursor: pointer;
}
.if-length img {
  width: 20px;
  height: 20px;
  transform: translate(10px, 5px);
}
.if-length span {
  line-height: 40px;
}
.if-length #img_dibo {
  width: 40px;
  height: 40px;
  background-color: #bdbdbd;
  border-radius: 30px;
}
#dibo {
  width: 90%;
}
#xedap {
  width: 90%;
}
#length p {
  margin-bottom: 0px;
}
#navigation__child {
  display: none;
}
/* Style for the zoom in and zoom out buttons */
.maplibregl-ctrl-group {
  border-radius: 50px !important;
  width: 40px;
  top: -30px !important;
  margin: 0 20px 30px 0 !important;
}
.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl-zoom-out {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #007cbf;
  color: #000000;
  font-size: 24px;
  height: 40px;
  line-height: 38px;
  padding: 0;
  text-align: center;
  width: 40px;
  margin: 8px 5px;
}
.maplibregl-ctrl-zoom-in:hover,
.maplibregl-ctrl-zoom-out:hover {
  cursor: pointer;
  background: none;
}
.maplibregl-ctrl {
  display: none;
}
#icon__open {
  display: block;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: #bdbdbd;
  border-radius: 50%;
  width: 32px;
  margin: 20px;
  height: 32px;
  transition: 0.8 ease;
}
#icon__open svg {
  padding: 9px;
}
#icon__close__header {
  display: block;
  z-index: 1;
  right: 0px;
  margin: 20px;
  position: absolute;
  cursor: pointer;
  background-color: #bdbdbd;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
#icon__close__header svg {
  padding: 8px;
}
.header_all {
  width: 15%;
  z-index: 2;
  position: absolute;
  height: 100%;
}
.name_popup {
  margin: 0px !important;
  width: 100%;
}
.maplibregl-popup-content {
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid black;
}
.tab-content > div {
  width: 90%;
}
#pills-home {
  margin-right: 20px;
}
#input_onoff {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#input_onoff input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* design mới */
.sidebar {
  position: absolute;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position: fixed;
  top: 80%;
  transform: translateY(0);
  width: 100%;
  z-index: 1;
}
.ul_sidebar {
  padding: 10px 30px;
  list-style: none;
  display: flex;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 4px 8px #00000033;
}
.ul_sidebar li {
  padding: 0 10px;
  margin: 0 12px;
}
.ul_sidebar_image {
  display: flex;
  justify-content: center;
}
.ul_sidebar_image img {
  width: 32px;
  height: 32px;
}
.ul_sidebar li span {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 11px;
}
.ul_sidebar_icon {
  display: flex;
  justify-content: center;
}
.ul_sidebar_icon svg {
  color: #8a8a8a;
}

.header_all_mobile {
    display: none;
    z-index: 4;
    position: absolute;
    height: 80px;
    bottom: 0;
    background-color: white;
    width: 100%;
  }
  #ul_list_mobile {
    list-style: none;
    padding-left: 0px;
    cursor: pointer;
    display: flex;
    margin-bottom: 0px !important;
    height: 100%;
  }
  
  #ul_list_mobile li {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0000001a;
  }
  
  #ul_list_mobile li p {
    font-weight: 600;
    margin-top: 3px;
    color: black;
    font-size: 9px;
  }
  #ul_list_mobile li svg {
      margin: 0 auto;
      width: 100%;
  }
  
  .language{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .language>div{
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
  }

  .language_mobile{
    width: 100%;
    right: 0px;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    height: 50px;
  }
  .language_mobile img{
    margin: 10px 0 0 10px;
    height: 30px;
  }
  .language_mobile>div{
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  .language_mobile>div>div{
    border: 1px solid gray;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    height: 30px;
    padding: 2px 10px 10px;
    margin-top: 10px;
  }
  

@media only screen and (max-width: 281px) {
  .language_mobile{
    display: flex;
    z-index: 2;
  }
  .header_all_mobile {
    display: block !important;
  }
  .header_all {
    display: none;
    width: 50%;
    transition: 0.6s ease;
  }
  #icon__open {
    display: block;
    z-index: 2;
  }
  #show__name {
    width: 100%;
    margin-left: 0%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #nav-tab button {
    font-size: 17px;
    width: 160px;
    height: 100%;
    padding: 20px 10px;
  }
  #ul__union {
    overflow: auto;
    padding: 0px 20px;
  }
  #search {
    width: 100%;
    margin-left: 0%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #navigation {
    width: 100%;
    margin-left: 0%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #all__select {
    height: 22%;
  }
  #ul_navigation {
    padding-bottom: 0px;
  }
  #ul_navigation button {
    width: 40px;
    height: 40px;
  }
  #ul_navigation button img {
    width: 20px;
    height: 20px;
  }
  #detail {
    width: 100%;
    margin-left: 0%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  .main__map {
    z-index: 1;
  }
  #name__address{
    font-size: 18px;
  }
  #button__save > button{
    margin-right: 10px;
  }
}

@media only screen and (min-width: 282px) and (max-width: 376px) {
  .language_mobile{
    display: flex;
  }
    .header_all_mobile {
        display: block !important;
      }
      .header_all {
        display: none;
        width: 50%;
        transition: 0.6s ease;
      }
      #ul_list_mobile li p {
        font-size: 10px;
      }
  #icon__open {
    display: block;
    z-index: 2;
  }
  #name__address{
    font-size: 18px;
  }
  #button__save > button{
    margin-right: 10px;
  }
  #show__name {
    width: 100%;
    margin-left: 0%;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #nav-tab {
    height: 20%;
  }
  #nav-tab button {
    font-size: 17px;
    width: 160px;
    height: 100%;
    padding: 20px 10px;
  }
  #ul__union {
    overflow: auto;
    padding: 0px 20px;
  }
  #search {
    margin-left: 0%;
    width: 100%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #navigation {
    margin-left: 0%;
    width: 100%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #all__select {
    height: 22%;
  }
  #ul_navigation {
    padding-bottom: 0px;
  }
  #ul_navigation button {
    width: 40px;
    height: 40px;
  }
  #ul_navigation button img {
    width: 20px;
    height: 20px;
  }
  #detail {
    margin-left: 0%;
    width: 100%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #pills-tab button {
    padding: 8px;
  }
  #repeart img {
    transform: translate(30px, -90px);
  }
  #pills-home {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 377px) and (max-width: 480px) {
  .language_mobile{
    display: flex;
  }
  #pills-home {
    margin-right: 20px;
  }
  .header_all_mobile {
    display: block !important;
  }
  #ul_list_mobile li p {
    font-size: 12px;
  }
  .header_all {
    display: none;
    width: 50%;
    transition: 0.6s ease;
  }
  #icon__open {
    display: block;
    z-index: 2;
  }
  #show__name {
    width: 100%;
    margin-left: 0%;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #nav-tab {
    height: 17%;
  }
  #nav-tab button {
    font-size: 20px;
    width: 180px;
    height: 100%;
    padding: 20px 10px;
  }
  #ul__union {
    overflow: auto;
    padding: 0px 20px;
  }
  #search {
    margin-left: 00%;
    width: 100%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #navigation {
    margin-left: 0%;
    width: 100%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #all__select {
    height: 22%;
  }
  #ul_navigation {
    padding-bottom: 0px;
  }
  #ul_navigation button {
    width: 40px;
    height: 40px;
  }
  #ul_navigation button img {
    width: 20px;
    height: 20px;
  }
  #detail {
    margin-left: 0%;
    width: 100%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #name__address{
    font-size: 18px;
  }
  #button__save > button{
    margin-right: 10px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .language_mobile{
    display: flex;
  }
    .header_all_mobile {
        display: block !important;
      }
      .header_all {
        display: none;
        width: 50%;
        transition: 0.6s ease;
      }
      #ul_list_mobile li p {
        font-size: 14px;
      }
  #icon__open {
    display: block;
    z-index: 2;
  }
  #show__name {
    width: 50%;
    margin-left: 0%;
    height: calc(100% - 50px);
    margin-top: 50px;
    z-index: 3;
  }
  #nav-tab {
    height: 22%;
  }
  #nav-tab button {
    font-size: 23px;
    width: 180px;
    height: 100%;
    padding: 20px 10px;
  }
  #ul__union {
    overflow: auto;
    padding: 0px 20px;
  }
  #search {
    margin-left: 0%;
    width: 50%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #navigation {
    margin-left: 0%;
    width: 50%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #all__select {
    height: 20%;
  }
  #ul_navigation {
    padding-bottom: 0px;
  }
  #ul_navigation button {
    width: 40px;
    height: 40px;
  }
  #ul_navigation button img {
    width: 20px;
    height: 20px;
  }
  #detail {
    margin-left: 0%;
    width: 50%;
    z-index: 3;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
  #name__address{
    font-size: 18px;
  }
  #button__save > button{
    margin-right: 10px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 819px) {
  .header_all {
    width: 30%;
    display: block;
  }
  #icon__open {
    display: block;
    z-index: 2;
  }
  #show__name {
    width: 70%;
    margin-left: 30%;
  }
  #nav-tab {
    height: 18%;
  }
  #nav-tab button {
    font-size: 27px;
    width: 200px;
    height: 100%;
    padding: 20px 10px;
  }
  #ul__union {
    overflow: auto;
    padding: 0px 20px;
  }
  #search {
    margin-left: 30%;
    width: 25%;
  }
  #navigation {
    margin-left: 30%;
    width: 30%;
  }
  #all__select {
    height: 15%;
  }
  #ul_navigation {
    padding-bottom: 0px;
  }
  #ul_navigation button {
    width: 40px;
    height: 40px;
  }
  #ul_navigation button img {
    width: 20px;
    height: 20px;
  }
  #detail {
    margin-left: 30%;
    width: 30%;
  }
}
@media only screen and (min-width: 819px) and (max-width: 912px) {
  .header_all {
    width: 30%;
    display: block;
  }
  #icon__open {
    display: block;
    z-index: 2;
  }
  #show__name {
    width: 70%;
    margin-left: 30%;
  }
  #nav-tab {
    height: 15%;
  }
  #nav-tab button {
    font-size: 27px;
    width: 200px;
    height: 100%;
    padding: 20px 10px;
  }
  #ul__union {
    overflow: auto;
    padding: 0px 20px;
  }
  #search {
    margin-left: 30%;
    width: 25%;
  }
  #navigation {
    margin-left: 30%;
    width: 30%;
  }
  #all__select {
    height: 12%;
  }
  #ul_navigation {
    padding-bottom: 0px;
  }
  #ul_navigation button {
    width: 40px;
    height: 40px;
  }
  #ul_navigation button img {
    width: 20px;
    height: 20px;
  }
  #detail {
    margin-left: 30%;
    width: 30%;
  }
}

