*{
    margin: 0px;
    padding: 0px;
}

.all__map{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    background-color: #fffef8;
    position: relative;
}
.left__panel{
    width: 15%;
    height: 100%;
    background-color: #fffef8;
    border-right: 1px solid #eac870;
    z-index: 2;
}
.main__map{
    width: 85%;
    background-color: #fffef8;
}
#icon__close{
    background-color:#eac870;
    margin: auto;
    border-radius: 40px;
    width: 50px;
    margin-top: 10%;
    height: 50px;
    cursor: pointer;
}
#icon__close p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.hamburger-react{
    margin: auto;
    transform: scale(0.7);
}
.hamburger-react > div:nth-child(2) {
    width: 24px !important;
}
#list_a{
    height: 40%;
    text-align: center;
    position: relative;
    padding-top: 50%;
    opacity: 0;
}
#list_a a{ 
   color: #bdbdbd;
   font-weight: bold;
   text-decoration: none;
}


#logo{
    height: calc(100% - 40% - 15% - 50px);
    width: 100%;
    margin: auto;
    position: relative;
}
#logo img{
   width: 60%;
   box-sizing: border-box;
   margin: 0% 20%;
   bottom: 0;
   position: absolute;
}
#line_image{
    width: 40px;
    background-color: #eac870;
    height: 2px;
    margin: 20px auto;
}
#logo__digiuni img{
    width: 30%;
    box-sizing: border-box;
    margin: 0% 35%;
    bottom: 0;
}
#map{
    width: calc(100% -6%);
    background-color: #e7c507;
    height: 100%;
    margin: 0% 3%;
}

#show__name{
    width: 85%;
    position: absolute;
    margin-left: 15%;
    height: 100%;
    transition: 0.8s ease;
    z-index: 1;
    padding: 3%;
    background-color: #fffef8;
}

#nav-tab{
    border-bottom: none !important;
}
.nav-tabs .nav-item{
    height: 150px;
    width: 20%;
}
.nav-tabs .nav-link{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #bdbdbd;
    text-align: left;
    height: 150px;
    min-width: 200px ;
    padding: 0 20px;
}
.nav-tabs .nav-link:hover {
    border-color: #fffef800 !important;
    color: black;
}
.nav-tabs .nav-link.active {
    background: none !important;
    border: rgba(0, 0, 0, 0) !important;
    border-bottom: 3px solid #eac870 !important;
    box-sizing: border-box;
    z-index: 2;
}
.table > :not(caption) > * > * {
    background-color:  #fffef8 !important;
}

.table{
    border-color: #bdbdbd00 !important;
}

.ul__union{
    list-style-type: none;
    padding: 20px;
}
.ul__union li{
    display: flex;
}
.ul__union li p{
    line-height: 20px;
}
.ul__union span{
    background-color: white;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    position: absolute;
    text-align: center;
    margin-top: 4px;
    line-height: 28px;
}
.tab-pane {
    position: absolute;
}

#detail{
    width: 25%;
    background-color: #fffef8;
    margin-left: 15%;
    height: 100%;
    position: absolute;
    transition: 0.8s ease;
    max-height: 100vh;
    overflow: auto;
}
#img_detail{
    width: 100%;
    height: 30%;
}
#img_detail img{
    width: 100%;
    height: 250px;
    padding: 20px;
}
#close__detail{
    background-color: rgb(71, 71, 71);
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin: 20px 0 0 20px;
    cursor: pointer;
}
#close__detail svg{
    color: #ffffff;
    width: 20px;
    height: 20px;
    margin: 10px;
}
#name__address{
    margin: 10px 20px 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    width: calc(100% -20px);
}
#button__save{
    margin: 0 20px;
    display: flex;
    margin-bottom: 20px;
}
#button__save>button{
    margin-right: 30px;
}
#button__save > button:nth-child(2){
    border: 1px solid;
}
#all__information{
    margin: 0 20px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #bdbdbd00 !important;
    color: #eac870 !important;
}
.nav-item button{
    color: black;
}
.nav-item button:hover{
    color: black;
}
#line_if{
    width: 50px;
    height: 4px;
    background-color: #eac870;
    margin-top: -20px;
    margin-left: 35px;
}
#office{
    display: flex;
    padding: 10px 0;
}
#office img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
#phone{
    display: flex;
    padding: 10px 0;
}
#phone img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
#sms{
    display: flex;
    padding: 10px 0;
}
#sms img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
#web{
    display: flex;
    padding: 10px 0;
}
#web img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
#all_img{
    width: 100%;
}
#all_img img{
    width: 100px;
    height: 100x;
}

#search{
    width: 25%;
    background-color: #fffef8;
    margin-left: 15%;
    height: 100%;
    position: absolute;
    transition: 0.8s ease;
    max-height: 100vh;
    overflow: auto;
}
#input_search{
    margin: 20px 0;
    width: 100%;
}
#input_search input{
    margin: auto 5%;
    width: 90%;
    height: 50px;
    border: 2px solid #eac870;
}
#list__address{
    padding: 0 5%;
}